<% if @user.errors.full_messages %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<section class="form-wrapper">
  <div class="page-top-btns">
    <%= link_to("/users/#{@user.id}", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
  </div>
  <h1>パスワードの編集</h1>
  <%= form_with model: @user, url: "/users/#{@user.id}/update/pass", local: true do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>現在のパスワード</h2>
        <%= f.text_field :old_password, type: "password", class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>新しいパスワード</h2>
        <%= f.text_field :password, type: "password", class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>新しいパスワードの確認</h2>
        <%= f.text_field :password_check, type: "password", class: "textbox" %>
      </div>
      <div class="btns">
        <%= f.submit "保存", class: "btn" %>
      </div>
    </div>
  <% end %>
</section>