<% if @user.errors.full_messages %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<section class="form-wrapper">
  <div class="page-top-btns">
    <%= link_to("/users/#{@user.id}", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
  </div>
  <h1>ユーザー情報の編集</h1>
  <%= form_with model: @user, url: "/users/#{@user.id}/update", local: true do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>ユーザー名</h2>
        <%= f.text_field :name, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>アイコン</h2>
        <div class="form-iconbox">
          <%= image_tag(@user.icon.url, class: "preview-usericon") if @user.icon? %>
          <%= f.file_field :icon %>
          <%= f.hidden_field :icon_cache %>
        </div>
      </div>
      <div class="btns">
        <%= f.submit "保存", class: "btn" %>
      </div>
    </div>
  <% end %>
</section>