<div class="wrapper">
  <section class="user-box">
    <% if @user.icon? %>
      <%= image_tag @user.icon.url, class:"big-usericon" %>
    <% else %>
      <img src="/assets/icon.png" alt="icon" class="big-usericon">
    <% end %>
    <div class="user-box-right">
      <h1><%= @user.name %></h1>
      <div class="user-box-btnarea">
        <%= link_to("/users/#{@user.id}/follows") do %>
          <p>フォロー:<%= @following_users.count %></p>
        <% end %>
        <%= link_to("/users/#{@user.id}/followers") do %>
          <p>フォロワー:<%= @follower_users.count %></p>
        <% end %>
        <% if @user.id == @current_user.id %>
          <%= link_to("アカウント情報の編集", "/users/#{@current_user.id}/edit", class: "btn") %>
          <%= link_to("", "/settings", class: "icon fas fa-cog", title: "設定") %>
        <% else %>
          <% if @current_user != @user %>
            <% if @current_user.following?(@user) %>
              <%= link_to 'フォロー解除', "/users/#{@user.id}/relationships", method: :delete, class: "btn" %>
            <% else %>
              <%= link_to 'フォロー', "/users/#{@user.id}/relationships", method: :POST, class:"btn" %>
            <% end %>
          <% end %>
          <% if @room %>
            <%= link_to("", "/chats", class: "icon far fa-envelope") %>
          <% else %>
            <%= link_to("", "/chats/crate/indibidual/#{@user.id}", class: "icon far fa-envelope", method: :post) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <div class="post-list">
    <% if @posts.size > 0 %>
      <% @posts.each do |post| %>
        <div class="post-box">
          <div class="post-top">
            <div class="post-user-box">
              <% if post.user.icon? %>
                <%= image_tag post.user.icon.url, class:"usericon" %>
              <% else %>
                <img src="/assets/icon.png" alt="icon" class="usericon">
              <% end %>
              <p><%= post.user.name %></p>
            </div>
            <a href="" class="md-btn" data-target="modal<%= post.id %>"><i class="fas fa-ellipsis-v"></i></a>
          </div>
          <div id="modal<%= post.id %>" class="modal">
            <div class="md-overlay md-close"></div>
            <div class="md-contents">
              <ul class="md-list">
                <% if post.user_id == @current_user.id %>
                  <li>
                    <%= link_to("/posts/#{post.id}/edit") do %>
                      <i class="far fa-edit"></i>
                      <p>投稿内容の編集</p>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to("/posts/#{post.id}/delete",  {class: "redtext"}, method: :post) do %>
                      <i class="far fa-trash-alt"></i>
                      <p>この投稿を削除</p>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to("#") do %>
                      <i class="fas fa-user-plus"></i>
                      <p>このユーザーをフォロー</p>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to("#") do %>
                      <i class="fas fa-ban"></i>
                      <p>このユーザーをブロック</p>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <%= link_to("/posts/#{post.id}") do %>
            <div class="post-content">
              <p><%= simple_format(post.content) %></p>
            </div>
          <% end %>
          <div class="post-items" id="favorite_<%= post.id %>">
            <%= render 'posts/post_items', post: post %>
          </div>
        </div>
      <% end %>
    </p>
    <% else %>
      <p>投稿はまだありません</p>
    <% end %>
  </div>
</div>