<% if @user.errors.full_messages %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="form-wrapper">
  <h1>新規登録</h1>
  <%= form_with model: @user, url: "/signup" do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>ユーザー名</h2>
        <%= f.text_field :name, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>メールアドレス</h2>
        <%= f.text_field :email, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>パスワード</h2>
        <%= f.text_field :password, type: "password", class: "textbox" %>
      </div>
      <div class="btns">
        <%= f.submit "新規登録", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>