<div class="not-scroll">
  <div class="chat-wrapper">
    <li class="room-li">
      <% @rooms.each do |room| %>
        <ul>
          <%= link_to("/chats/#{room.id}") do %>
            <h2><%= room.name %></h2>
            <p>トーク内容</p>
          <% end %>
        </ul>
      <% end %>
      <ul>
        <%= link_to("/chats/create") do %>
          <i class="fas fa-plus"></i>
          <p>トークルーム追加</p>
        <% end %>
      </ul>
    </li>
    <section class="talk-room">
      <div class="chat-box scroll-from-bottom">
        <% @messages.each do |msg| %>
          <% if msg.user == @current_user %>
            <div class="user-msg">
              <div class="msg-box">
                <div class="text-msg"><%= msg.content %></div>
              </div>
            </div>
          <% else %>
            <div class="partner-msg">
              <p><%= msg.user.name %></p>
              <div class="msg-box">
                <div class="text-msg"><%= msg.content %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= form_tag("/chats/#{@current_room.id}/create", class: "text-box") do %>
        <div class="border">
          <textarea class="new-msg" rows="1" name="content"></textarea>
        </div>
        <%= button_tag(type: 'submit') do %>
          <i class="far fa-paper-plane"></i>
        <% end %>
      <% end %>
    </section>
  </div>
  
  <%= javascript_pack_tag 'chats/chats' %>
</div>