<div class="not-scroll">
  <div class="chat-wrapper">
    <li class="room-li">
      <% @rooms.each do |room| %>
        <ul>
          <%= link_to("/chats/#{room.id}") do %>
            <h2><%= room.name %></h2>
            <p><%= get_newest_message(room.id) %></p>
          <% end %>
        </ul>
      <% end %>
      <ul>
        <%= link_to("/chats/create") do %>
          <i class="fas fa-plus"></i>
          <p>トークルーム追加</p>
        <% end %>
      </ul>
    </li>
    <section class="talk-room">
      <div class="no-talkroom">
        <p>
          トークルームを選択して<br>
          仲間とチャットしよう！
        </p>
      </div>
    </section>
  </div>
  
  <%= javascript_pack_tag 'chats/chats' %>
</div>