<% if @project.errors.full_messages %>
  <% @project.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<section class="form-wrapper">
  <h1>ユーザー情報の編集</h1>
  <%= form_with model: @project, url: "/projects/#{@project.id}/update" do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>プロジェクト名</h2>
        <%= f.text_field :name, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>サムネイル</h2>
        <%= image_tag(@project.image.url) if @project.image? %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="form-item">
        <h2>概要</h2>
        <%= f.text_field :overview, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>募集対象</h2>
        <%= f.text_field :target, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>詳細</h2>
        <%= f.text_area :detail, class: "textarea" %>
      </div>
      <div class="form-item">
        <h2>タグ</h2>
        <%= f.collection_select :tag, @tags, :id, :name, {selected: @tag.id}, {class: "select" } %>
      </div>
      <div class="btns">
        <%= f.submit "保存", class: "btn" %>
      </div>
    </div>
  <% end %>
</section>