<div class="wrapper">
  <div class="page-top-btns">
    <%= link_to("/admin", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
    <%= link_to("/tags/categories", class: "page-forward") do %>
      <p>カテゴリ一覧</p>
      <i class="fas fa-angle-right"></i>
    <% end %>
  </div>
  <h1>タグ一覧</h1>
  <div class="table-top-area">
    <%= link_to("/tags/create", class: "text-btn") do %>
      <i class="fas fa-plus"></i>
      <p>タグ追加</p>
    <% end %>
  </div>
  <table>
    <tr>
      <th class="width10">id</th>
      <th>name</th>
      <th>category</th>
      <th class="width20"><!-- ボタン設置 --></th>
    </tr>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.id %></td>
        <td><%= tag.name %></td>
        <td><%= tag.category.name %></td>
        <td class="table-btns">
          <%= link_to("/tags/#{tag.id}/edit") do %>
            <i class="fas fa-pen"></i>
          <% end %>
          <%= link_to("/tags/#{tag.id}/delete", method: :post) do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>