<% if @post.errors.full_messages %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="tl-post-list">
  <%= form_tag("/posts/create") do %>
      <textarea class="newpost-text" rows="2" name="content"><%= @post.content %></textarea>
      <div class="newpost-items">
        <i class="far fa-image"></i>
        <input type="submit" value="投稿" class="btn">
      </div>
  <% end %>

  <div class="post-list">
    <% @posts.each do |post| %>
      <div class="post-box">
        <div class="post-top">
          <div class="post-user-box">
            <%= link_to("/users/#{post.user.id}") do %>
              <p><%= post.user.name %></p>
            <% end %>
          </div>
          <a href="" class="md-btn" data-target="modal<%= post.id %>"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <div id="modal<%= post.id %>" class="modal">
          <div class="md-overlay md-close"></div>
          <div class="md-contents">
            <ul class="md-list">
              <% if post.user_id == @current_user.id %>
                <li>
                  <%= link_to("/posts/#{post.id}/edit") do %>
                    <i class="far fa-edit"></i>
                    <p>投稿内容の編集</p>
                  <% end %>
                </li>
                <li class="redtext">
                  <%= link_to("/posts/#{post.id}/delete", method: :post) do %>
                    <i class="far fa-trash-alt"></i>
                    <p>この投稿を削除</p>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to("#") do %>
                    <i class="fas fa-user-plus"></i>
                    <p>このユーザーをフォロー</p>
                  <% end %>
                </li>
                <li>
                  <%= link_to("#") do %>
                    <i class="fas fa-ban"></i>
                    <p>このユーザーをブロック</p>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <%= link_to("/posts/#{post.id}") do %>
          <div class="post-content">
            <p><%= post.content %></p>
          </div>
        <% end %>
        <div class="post-items" id="favorite_<%= post.id %>">
          <%= render 'posts/post_items', post: post %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'posts/postform' %>