<% if @post.errors.full_messages %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="tl-post-list">
  <%= form_tag("/posts/create") do %>
      <textarea class="newpost-text" rows="2" name="content"><%= @post.content %></textarea>
      <div class="newpost-items">
        <i class="far fa-image"></i>
        <input type="submit" value="投稿" class="btn">
      </div>
  <% end %>

  <div class="post-list">
    <% @posts.each do |post| %>
      <div class="post-box">
        <div class="post-user-box">
          <p><%= post.user_id %></p>
        </div>
        <%= link_to("/posts/#{post.id}") do %>
          <div class="post-content">
            <p><%= post.content %></p>
          </div>
        <% end %>
        <div class="post-items">
          <i class="fas fa-heart"></i>
          <i class="far fa-heart"></i>
          <i class="fas fa-share-alt"></i>
          <% if post.user_id == @current_user.id %>
            <%= link_to("/posts/#{post.id}/edit") do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to("/posts/#{post.id}/delete", method: :post) do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'posts/postform' %>